{% extends "base.html.twig" %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
        {{ importmap('home') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <section class="w-full h-full flex justify-center items-center">
        <ul>

        </ul>
    </section>
{% endblock %}