{% extends "base.html.twig" %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
        {{ importmap('home') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <section class="w-full h-full flex justify-center items-center">
        <ul class="entry-animation-1 flex flex-col gap-3 sm:w-[30rem] w-[90vw] max-h-[40rem] min-h-[20rem] shadow-md p-4" id="books-list">
        </ul>
    </section>
{% endblock %}