<div class="flex h-screen flex-col justify-between border-e bg-white">
    <div class="px-4 py-6">
    <span class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">
      Books App
    </span>
        <ul class="mt-6 space-y-1">
         {% include "partials/_menu_options.html.twig" %}
        </ul>
    </div>

    <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
        <a href="#" class="flex items-center gap-2 bg-white p-4 hover:bg-gray-50">
            <img
                    alt=""
                    src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    class="size-10 rounded-full object-cover"
            />

            <div>
                <p class="text-xs">
                    <strong class="block font-medium">Eric Frusciante</strong>

                    <span> eric@frusciante.com </span>
                </p>
            </div>
        </a>
    </div>
</div>