<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <aside class="w-64 hidden sm:block fixed">
            {% include "partials/_sidebar.html.twig" %}
        </aside>
        <nav class="w-full fixed sm:hidden">
            <section class="z-50 w-full flex justify-between h-auto p-3 bg-gray-50 border-b-2 border-solid">
                <span class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">
                    Books App
                </span>
                <button id="hamburger" class="flex flex-col rounded-full p-3 hover:bg-gray-200 transition-colors items-center justify-center gap-1.5">
                    <div class="w-7 h-1 bg-gray-600"></div>
                    <div class="w-7 h-1 bg-gray-600"></div>
                    <div class="w-7 h-1 bg-gray-600"></div>
                </button>
            </section>
            {% include "partials/_mobile_nav.html.twig" %}
        </nav>
        <section class="w-full pl-72 pt-8">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>
