{% extends "base.html.twig" %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
        {{ importmap('register') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <section class="w-full h-full flex justify-center items-center">
        <form id="user-form" action="#" class="entry-animation-1 mb-0 mt-6 space-y-4 rounded-lg w-[90vw] sm:w-[32rem] p-4 shadow-lg sm:p-6 lg:p-8">
            <p class="text-center text-lg font-medium">Register</p>
            <div>
                <label for="email" class="sr-only">Email</label>

                <div class="relative">
                    <input
                            type="email"
                            name="email"
                            required
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Email"
                    />

                    <span class="absolute inset-y-0 end-0 grid place-content-center px-4"></span>
                </div>
            </div>

            <div>
                <label class="sr-only">Username</label>

                <div class="relative">
                    <input
                            type="text"
                            required
                            name="username"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Username"
                    />

                    <span class="absolute inset-y-0 end-0 grid place-content-center px-4"></span>
                </div>
            </div>

            <div>
                <label class="sr-only">Password</label>

                <div class="relative">
                    <input
                            type="password"
                            required
                            name="password"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Password"
                    />

                    <span class="absolute inset-y-0 end-0 grid place-content-center px-4"></span>
                </div>
            </div>

            <div>
                <label for="email" class="sr-only">Repeat Password</label>

                <div class="relative">
                    <input
                            type="password"
                            required
                            placeholder="Repeat Password"
                            name="password_confirmation"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                    />

                    <span class="absolute inset-y-0 end-0 grid place-content-center px-4"></span>
                </div>
            </div>

            <button
                    type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
            >
                Create Account
            </button>
            <section id="errors"></section>
        </form>
    </section>
{% endblock %}